@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 152 76% 96%;              /* green-haze-50 */
    --foreground: 165 71% 20%;              /* green-haze-800 */
    --card: 152 76% 96%;
    --card-foreground: 165 71% 20%;
    --popover: 152 76% 96%;
    --popover-foreground: 165 71% 20%;
    --primary: 154 70% 40%;                 /* green-haze-500 */
    --primary-foreground: 152 76% 96%;      /* green-haze-50 */
    --secondary: 153 55% 67%;               /* green-haze-300 */
    --secondary-foreground: 165 71% 20%;    /* green-haze-800 */
    --muted: 153 57% 82%;                   /* green-haze-200 */
    --muted-foreground: 167 69% 17%;        /* green-haze-900 */
    --accent: 154 52% 52%;                  /* green-haze-400 */
    --accent-foreground: 152 76% 96%;       /* green-haze-50 */
    --destructive: 0 84.2% 60.2%;           /* unchanged */
    --destructive-foreground: 0 0% 100%;    /* white */
    --border: 153 57% 82%;                  /* green-haze-200 */
    --input: 153 57% 82%;
    --ring: 154 70% 40%;                    /* match --primary */
    --radius: 0.5rem;
  }

  .dark {
    --background: 166 70% 10%;              /* green-haze-950 */
    --foreground: 152 76% 96%;              /* green-haze-50 */
    --card: 167 69% 17%;                    /* green-haze-900 */
    --card-foreground: 152 76% 96%;
    --popover: 167 69% 17%;
    --popover-foreground: 152 76% 96%;
    --primary: 154 70% 40%;                 /* green-haze-500 */
    --primary-foreground: 152 76% 96%;
    --secondary: 163 77% 25%;               /* green-haze-700 */
    --secondary-foreground: 152 76% 96%;
    --muted: 165 71% 20%;                   /* green-haze-800 */
    --muted-foreground: 153 55% 67%;        /* green-haze-300 */
    --accent: 154 52% 52%;                  /* green-haze-400 */
    --accent-foreground: 152 76% 96%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 165 71% 20%;                  /* green-haze-800 */
    --input: 165 71% 20%;
    --ring: 154 70% 40%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
